{% extends 'base.html' %}



{% block title %}Смена пароля{% endblock %}



{% block menu %}

    <li class="nav-item"><a class="nav-link" href="{% url "accounts:profile" request.user.pk %}">Назад</a></li>

    <li class="nav-item"><a class="nav-link" href="{% url "accounts:profile_change" request.user.pk %}">Редактирование
        личных
        данных</a></li>

{% endblock %}



{% block content %}

    <h1>Смена пароля</h1>

    <form action="" method="post">

        {% include 'partial/form.html' with button_text='Изменить' %}
    </form>


{% endblock %}