{% extends 'base.html' %}

{% block title %}
    Профиль
{% endblock %}

{% block menu %}
    {% if request.user == user_obj %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:profile_change' request.user.pk %}">Изменить Профиль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:password_change' request.user.pk %}">Смена пароля</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="row g-0">
            {% if user_obj.avatar %}
                <div class="col-md-4">
                    <img src="{{ user_obj.avatar.url }}" class="img-fluid rounded-start" alt="...">
                </div>
            {% endif %}
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Личная страница пользователя
                        {% if user_obj.get_full_name %}{{ user_obj.get_full_name }}{% else %}
                            {{ user_obj }}{% endif %}</h5>
                    <p class="card-text">Имя пользователя: {{ user_obj }}</p>

                    <p class="card-text">Имя: {{ user_obj.first_name }}</p>

                    <p class="card-text">Фамилия: {{ user_obj.last_name }}</p>

                    <p class="card-text">Телефон: {{ user_obj.phone_number }}</p>

                    <p class="card-text">Почта: {{ user_obj.email }}</p>

                    <p class="card-text">{{ user_obj.user_info }}</p>

                    <p class="card-text">Количество публикаций: {{ user_obj.count_publications }}</p>


                    <p class="card-text">Количество подписчиков: {{ user_obj.followers_count }}</p>
                    <p class="card-text">Количество подписок: {{ user_obj.subscriptions_count }}</p>

                    {% if request.user != user_obj %}
                        <a href="{% url 'accounts:subscription' user_obj.pk %}">
                            {% if request.user in user_obj.followers.all %}
                                Отписаться
                            {% else %}
                                Подписаться
                            {% endif %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% include 'partial/publication_list.html' %}
{% endblock %}